* {
    background-color: var(--Editor-background-color);
    margin: 0;
    padding: 0;
}

:root {
    --Editor-Background-Color: #20232b;
    --Editor-Text-Color: #cacaca;
    --Editor-Text-Font: "Fira Mono";
    --Editor-Text-Size: 15px;
    --ToolBar-Background-Color: #2f3542;;
    --ToolBar-Icon-Color: #7c8a9c;
    --ToolBar-Icon-Color-Hover: #ffffff;
    --InfoBar-Background-Color: #2c313d;
    --InfoBar-Warning-Text-Color: #f36a6a;
    --InfoBar-Button-Background-Color: #7c8a9c;
    --InfoBar-Button-Text-Color: #3d444d;
    --ScrollBar-Color: #424c5f;
    --ScrollBar-Color-Hover: #55637c;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

#Editor {
    padding: 15px;
    padding-left: 25px;
    background-color: var(--Editor-Background-Color);
    align-items: center;
    height: 95%;
    width: 100%;
    overflow: auto;
    color: var(--Editor-Text-Color);
    font-family: var(--Editor-Text-Font);
    font-size: var(--Editor-Text-Size);
    white-space: nowrap;
    outline: 0px solid transparent;
}

#Editor>div {
    background-color: var(--Editor-Background-Color);
}

#Toolbar {
    background-color: var(--ToolBar-Background-Color);
    height: 100%;
    width: 70px;
}

.Icon {
    background-color: var(--ToolBar-Background-Color);
    color: var(--ToolBar-Icon-Color);
}

.btn {
    padding: 0;
    border: none;
    background: none;
    outline: 0px solid transparent;
    background-color: var(--ToolBar-Background-Color);
}

.btn :hover {
    cursor: pointer;
    color: var(--ToolBar-Icon-Color-Hover);
}

#InfoBar {
    width: 300px;
    height: 100%;
    background-color: var(--InfoBar-Background-Color);
}

.Info {
    display: none;
    text-align: center;
    background-color: var(--InfoBar-Background-Color);
    height: 100%;
    position: relative;
    top: 20px;
    align-content: center;
}

.Info-Text {
    background-color: var(--InfoBar-Background-Color);
    font-family: "Fira Mono";
}

.Info-Warning-Text {
    background-color: var(--InfoBar-Background-Color);
    font-family: "Fira Mono";
    color: var(--InfoBar-Warning-Text-Color);
}

.Info-btn {
    padding: 5px;
    border: none;
    background: none;
    outline: 0px solid transparent;
    color: var(--InfoBar-Button-Text-Color);
    background-color: var(--InfoBar-Button-Background-Color);
    border-radius: 7%;
    cursor: pointer;
    position: relative;
    font-family: "Fira Mono";
    top: 20px;
}

.input {
    align-content: center;
    color: #cacaca;
    border: none;
    background-color: var(--Editor-Background-Color);
    height: 25px;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-track {
    background: var(--Editor-Background-Color);
}

::-webkit-scrollbar-thumb {
    background: var(--ScrollBar-Color);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--ScrollBar-Color-Hover);
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}