* {
    background-color: #20232b;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

#editor {
    padding: 15px;
    padding-left: 25px;
    background-color: #20232b;
    align-items: center;
    height: 95%;
    width: 100%;
    overflow: auto;
    color: #cacaca;
    font-family: "Fira Mono";
    white-space: nowrap;
    outline: 0px solid transparent;
}

#editor>div {
    background-color: #20232b;
}

.Toolbar {
    background-color: #2f3542;
    height: 100%;
    width: 70px;
}

.btn {
    padding: 0;
    border: none;
    background: none;
    outline: 0px solid transparent;
    color: #7c8a9c;
}

.btn :hover {
    cursor: pointer;
    color: #ffffff;
}

.Pop-Up {
    display: none;
    position: absolute;
    left: 90px;
    background-color: #3d444d;
    text-align: center;
    border-radius: 4%;
}

.Pop-Up-btn {
    padding: 0;
    border: none;
    background: none;
    outline: 0px solid transparent;
    color: #3d444d;
    background-color: #7c8a9c;
    border-radius: 7%;
}

.input {
    align-content: center;
    color: #cacaca;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #20232b;
}

::-webkit-scrollbar-thumb {
    background: #424c5f;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #55637c;
}