* {
    background-color: #20232b;
    margin: 0;
    padding: 0;
}

.editor {
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    background-color: #2f3542;
    height: 560px;
    min-width: 10px;
    max-width: 500px;
    overflow: auto;
    border-radius: 2%;
    color: #ffffff;
    font-family: "Fira Mono";
}

.editor>div {
    background-color: #2f3542;
}